{% if not data.feed.responseData.results %}<p>No search results.</p>{% else %}{% for entry in data.feed.responseData.results %}
<p><em>{{ entry.title }}</em>: {{ entry.content }} <a href="{{ entry.url }}">{{ entry.visibleUrl }}</a></p>
{% endfor %}{% endif %}

<p>Twitter by mail:
<a href="mailto:twitter@mixamail.com?subject=update">update</a> |
<a href="mailto:twitter@mixamail.com?subject=fetch">fetch</a> |
<a href="mailto:twitter@mixamail.com?subject=search">search</a> |
<a href="mailto:twitter@mixamail.com?subject=google">google</a> |
<a href="mailto:twitter@mixamail.com?subject=subscribe">subscribe</a> |
<a href="mailto:twitter@mixamail.com?subject=unsubscribe">unsubscribe</a>
</p>
